<appSettings>
  <add key="AWSAccessKey" value="Your AWSAccessKey" />
  <add key="AWSSecretKey" value="Your AWSSecretKey" />
  <add key="Issue320DynamoDbRegion" value="Any AWS region, for example: http://dynamodb.eu-west-1.amazonaws.com" />
</appSettings>